<p>Hello!</p>
<p>You have been granted a supervisor role ({{ rights }}) for SUCTF 2025.<br>
<a href="{{{ create_account_link }}}">Click here to create your account.</a></p>
<p>Regards<br>
SUCTF 2025 team</p>
