Hello, {{{ name }}}!

Welcome to SUCTF 2025!

You must confirm your email address so as to take part in the competition.
Please navigate to {{{ email_confirm_link }}} in your browser.

Regards
SUCTF 2025 team
